<% @places.each do |place| %>
  
  <div class="booyah-box col-10 offset-1">
   <h1><%= link_to place.name, place_path(place) %></h1><br />
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />
  

  <% if place.user.present? %>
  <small><%= place.user.email %></small>
  <% end %>


  
  <% if place.comments.present? %>
  <div class="col-12">
    <blockquote>
      <% if place.comments.last.humanized_rating.present? %>
        <b><%= place.comments.last.humanized_rating %></b> -
      <% end %>
      <%= place.comments.last.message %>
      <small><%= place.comments.last.user.email %></small>
    </blockquote>
    <% end %>
  </div>
<% end %>
</div>

<div class="col-10 offset-1">
  <h1 class="float-left">Photos</h1>
  <!-- Button trigger modal for Photos -->

  <button type="button" class="btn btn-warning btn-md float-right" data-toggle="modal" data-target="#myModal2">
    Add a Photo
  </button>
</div>
<div class="clear"></div>
<div class="row">
  <div class="col-10 offset-1">
   
    <% place.photos.each do |photo| %>
      <div>
        <blockquote>
          <img class='place-picture'>
          <%= image_tag photo.picture %></img>
            <b><%= photo.caption %></b> -
          <small><%= photo.user.email %></small>
        </blockquote>
      </div>
    <% end %>
  </div>
<% end %>
</div>

<div class="clear"></div>
